<tr>
  <td><%= link_to book.name, admin_book_path(book) %></td>
  <td><%= book.category_name %></td>
  <td><%= book.author_name %></td>
  <td><%= book.publisher_name %></td>
  <td></td>
  <td>
    <div class="btn-group btn-group-sm">
      <%= link_to edit_admin_book_path(book) do %>
        <i class="glyphicon glyphicon-pencil btn btn-warning"
          title="<%= t "edit" %>"></i>
      <% end %>
      <%= link_to admin_book_path(book), method: :delete,
        data: {confirm: t("confirm")} do %>
        <i class="glyphicon glyphicon-trash btn btn-danger"
          title="<%= t "delete" %>"></i>
      <% end %>
    </div>
  </td>
</tr>
