<% provide :title, t(".all_author") %>
<h1><%= t ".all_author" %> </h1>

<%= will_paginate %>

<ul class="users">
  <% @authors.each do |author| %>
    <li>
      <%= link_to author.name, admin_author_path(author) %>
      |  <%= link_to t(".edit"), edit_admin_author_path(author) %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
