<% provide :title, t(".all_author") %>
<h1><%= t ".all_author" %> </h1>
<div>
  <%= link_to t(".create"), new_admin_author_path %>
</div>

<%= will_paginate %>

<ul class="users">
  <% @authors.each do |author| %>
    <li>
      <%= link_to author.name, admin_author_path(author) %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
