<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t ".book_name" %></th>
      <th><%= t ".borrow_date" %></th>
      <th><%= t ".expired_date" %></th>
      <th><%= t ".date_status" %></th>
      <th><%= t "Action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @book_borrows.each do |book_borrow| %>
      <tr>
        <td><%= book_borrow.book.name %></td>
        <td><%= book_borrow.borrow_date %></td>
        <td><%= book_borrow.expired_date %></td>
        <td><%= book_borrow.request_status %></td>
        <% if current_user.is_admin %>
         <td>
            <%= link_to user_book_borrow_path(current_user, book_borrow),
              method: :delete do %>
              <i class="glyphicon glyphicon-trash"
                title="Delete" data-toggle="tooltip"></i>
            <% end %>
          </td>
        <% elsif (current_user? @user) && (book_borrow.request_status != "borrowing") %>
          <td>
            <%= link_to user_book_borrow_path(current_user, book_borrow),
              method: :delete do %>
              <i class="glyphicon glyphicon-trash"
                title="Delete" data-toggle="tooltip"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
