<% provide :title, t(".home") %>
<div id="wrapper">
  <div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mainCarousel" data-slide-to="1"></li>
      <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://placehold.it/1920x650/777/fff&amp;text=First+Slide" >
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <img src="http://placehold.it/1920x650/777/fff&amp;text=Second+Slide" >
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <img src="http://placehold.it/1920x650/777/fff&amp;text=Third+Slide" >
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
          </a>
          <h3><%= t ".sach1" %> </h3>
          <p><%= t ".description1" %> </p>
          <a href="#" class="btn btn-primary btn-sm"><%= t ".read_more" %></a>
        </div>
        <div class="col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
          </a>
          <h3><%= t ".sach2" %> </h3>
          <p><%= t ".description2" %> </p>
          <a href="#" class="btn btn-primary btn-sm"><%= t ".read_more" %></a>
        </div>
        <div class="col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
          </a>
          <h3><%= t ".sach3" %> </h3>
          <p><%= t ".description3" %> </p>
          <a href="#" class="btn btn-primary btn-sm"><%= t ".read_more" %></a>
        </div>
        <div class="col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
          </a>
          <h3><%= t ".sach4" %> </h3>
          <p><%= t ".description4" %></p>
          <a href="#" class="btn btn-primary btn-sm"><%= t ".read_more" %></a>
        </div>
      </div>
    </div>
  </div>
</div>
