<% provide :title, t(".all_publisher") %>
<% provide :placeholder, t(".search_publisher") %>
<h1><%= t ".all_publisher" %> </h1>

<%= form_for admin_publishers_path, method: :get do %>
  <%= render "shared/search_form" %>
<% end %>

<%= will_paginate %>

<table class="table">
  <thead>
    <tr>
      <th><%= t "name" %></th>
      <th><%= t "address" %> </th>
      <th><%= t "book" %></th>
      <th><%= t "action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @publishers.each do |publisher| %>
      <tr>
        <td><%= link_to publisher.name, admin_publisher_path(publisher) %></td>
        <td><%= publisher.address %></td>
        <td><%= publisher.total_book %></td>
        <td><%= link_to t(".edit"), edit_admin_publisher_path(publisher) %>
          | <%= link_to t(".delete"), admin_publisher_path(publisher),
          method: :delete, data:{confirm: t(".confirm")} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
