<% provide :title, t(".alluser") %>
<% provide :placeholder, t(".search_user") %>

<h1><%= t ".alluser" %></h1>
<%= form_for users_path, method: :get do %>
  <%= render "shared/search_form" %>
<% end %>

<%= will_paginate %>

<ul class="users">
  <% if @users.any? %>
    <table class="table">
      <thead>
        <tr>
          <th><%= t "name" %></th>
          <th><%= t "action" %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, admin_user_path(user) %></td>
            <td><%= link_to t(".delete"), admin_user_path(user),
              method: :delete, data: {confirm: t(".confirm")} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-warning">
      <%= t ".not_found" %>
    </div>
  <% end %>
</ul>

<%= will_paginate %>
