<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "admin", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "admin", "data-turbolinks-track": true %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="fglogo"><%= link_to image_tag("framgia_logo.png"), "/pages/home" %></div>
    <div class="menulogo">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t(".home"), root_path %></li>
          <li><%= link_to t(".logout"), logout_path, method: :delete %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t ".create" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".create_author"), new_admin_author_path %></li>
              <li><%= link_to t(".create_book"), new_admin_book_path %></li>
              <li><%= link_to t(".create_publisher"), new_admin_publisher_path %></li>
              <li><%= link_to t(".create_category"), new_admin_category_path %></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
    <div class="container-fluid">
      <div class="row content-work">
        <div class="sidebar col-md-2">
        <ul>
          <li><%= link_to t(".user"), admin_users_path %></li>
          <li><%= link_to t(".author"), admin_authors_path %></li>
          <li><%= link_to t(".book"), admin_books_path %></li>
          <li><%= link_to t(".publisher"), admin_publishers_path %></li>
          <li><%= link_to t(".category"), admin_categories_path %></li>
        </ul>
        </div>
        <div class="content col-md-10 col-md-offset-2">
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="footer container-fluid"></div>
  </body>
</html>
